link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
script(src="bower_components/angular/angular.min.js")
script(src="bower_components/angular-resource/angular-resource.min.js")
script(src="app/app.js")

body(ng-app="app")
    .controller
        h1 Find a job Today !
        div(ng-controller="testCtrl")
            .list-group
                a.list-group-item(href="#")(ng-repeat="job in jobs")
                    h4.list-group-item-heading  {{job.title}}
                    p.list-group-item-text {{job.description}}
            div {{testCtrl}}